.header-container {
  background-color: #FFE600;
  height: 47px;
  padding-top: 7px;
}

.header-logo {
  display: inline-block;

  img {
    width: 60px;
  }
}

.header-input {
  display: inline-block;
  width: 981px;
  height: 40px;
  margin: 0;
  position: relative;

  form {
    position: absolute;
    top: 0;
    left: 25px;
  }

  input {
    width: 900px;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
  }
}

.header-button {
  background-color: #EEEEEE;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border: none;
  border-radius: 3px;

  img{
    width: 20px;
  }
}