.details-container {
  background-color: #EEEEEE;
  color: #999999;
  width: 100%;
  padding-bottom: 120px;
}

.details-header {
  width: 981px;
  margin: 0 auto;
  padding: 16px 0;
  text-align: left;
}

.info-container {
  background-color: #ffffff;
  width: 981px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}

.image-container {
  display: inline-block;
  width: 680px;
  padding-top: 32px;
  padding-left: 32px;

  img {
    width: 100%;
  }
}

.price-container {
  display: inline-block;
  width: 230px;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 32px;
  padding-right: 32px;
  color: #333333;
}

.item-condition {
  font-size: 14px;
  margin-bottom: 16px;
}

.item-details-title {
  font-size: 24px;
  font-weight: bold;
}

.item-details-price {
  font-size: 46px;
  margin: 32px 0;
}

.description-container {
  font-size: 28px;
  margin: 32px;
  color: #333333;
}

.item-description {
  font-size: 16px;
  color: #999999;
  margin-top: 32px;
}

.button-buy {
  width: 100%;
  height: 45px;
  background-color: #3483fa;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
}